<ActionBar title="Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
  <FlexboxLayout class="m-15">
    <label class="h2" [text]="item.id + '. '"></label>
    <label class="h1" [text]="item.name"></label>
  </FlexboxLayout>
  <label class="h3 m-20" [text]="item.role"></label>
</FlexboxLayout>
