// http://ionicframework.com/docs/theming/
// App Global Sass
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply globally. These styles are for
// the entire app and not just one component. Additionally, this file can be
// also used as an entry point to import other Sass files to be included in the
// output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's default Sass
// variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule for the .md, .ios,
// or .wp mode classes. The mode class is automatically applied to the <body>
// element in the app.
@import '~@malomatia/ionic/scss/index';

ion-content {
  --padding-start: var(--padding);
  --padding-end: var(--padding);
  --padding-top: var(--padding);
  --padding-bottom: var(--padding);
}

ion-icon {
  color: var(--ion-color-primary);
}

ion-input {
  // --color: var(--ion-color-medium) !important;
  --placeholder-color: var(--input-placeholder-color) !important;
  --placeholder-opacity: var(--input-placeholder-opacity) !important;
}

ion-button {
  --border-radius: 3px;
  --box-shadow: none;
}

ion-label {
  --color: var(--ion-color-primary) !important;
  font-weight: var(--font-weight-semibold);
  // color: #173f81 !important;
}

// ion-popover {
//   ion-backdrop {
//     opacity: 0.5 !important;
//   }
//   .popover-wrapper {
//     .popover-content {
//       width: 80vw;
//       max-width: 500px;
//     }
//   }
// }

.vl-gradient {
  position: relative;
}
.vl-gradient:before {
  content: '';
  position: absolute;
  width: 2px;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: #173f81;
  background: -moz-linear-gradient(top, #173f81 0%, #538dc5 100%);
  background: -webkit-linear-gradient(top, #173f81 0%, #538dc5 100%);
  background: linear-gradient(to bottom, #173f81 0%, #538dc5 100%);
}

.hz-gradient {
  background: #7076b9;
  background: -moz-linear-gradient(
    left,
    #7076b9 0%,
    #7076b9 0%,
    #207cca 100%,
    #113e77 100%
  ) !important;
  background: -webkit-linear-gradient(
    left,
    #7076b9 0%,
    #7076b9 0%,
    #207cca 100%,
    #113e77 100%
  ) !important;
  background: linear-gradient(
    to right,
    #7076b9 0%,
    #7076b9 0%,
    #207cca 100%,
    #113e77 100%
  ) !important;
}

.toolbar-background {
  display: none !important;
}
