<lib-header [title]="'set by routing'"></lib-header>

<ion-list>
  <ion-radio-group name="group__name" value="test_val">
    <ion-list-header> <ion-label>Request Type</ion-label> </ion-list-header>

    <ion-item margin button="true">
      <ion-label>Minor Register</ion-label>
      <ion-radio slot="start" name="minor" value="minor" checked></ion-radio>
    </ion-item>
    <ion-item margin>
      <ion-label>Absence Register</ion-label>
      <ion-radio slot="start" value="absence"></ion-radio>
    </ion-item>
    <ion-item margin>
      <ion-label>Banned Register</ion-label>
      <ion-radio slot="start" value="banned"></ion-radio>
    </ion-item>
    <ion-item margin>
      <ion-label>Death Register</ion-label>
      <ion-radio slot="start" value="death"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

<ion-list>
  <ion-list-header> <ion-label>File Details</ion-label> </ion-list-header>

  <ion-item margin>
    <ion-label position="floating">QID</ion-label>
    <ion-input
      type="number"
      name="__name"
      minlength="11"
      maxlength="11"
      pattern="\\d{11}"
      title="Not a valid QID"
      required
      clearInput
    ></ion-input>
  </ion-item>
  <ion-item margin>
    <ion-label position="floating">Name</ion-label>
    <ion-input
      pattern="^[a-zA-Z ]*$"
      title="Cannot contain numbers"
      required
      spellcheck
      clearInput
    ></ion-input>
  </ion-item>
  <ion-item margin>
    <ion-label position="floating">Certificate ID</ion-label>
    <ion-input
      type="number"
      pattern="^[0-9]*$"
      title="Numbers only"
      required
      clearInput
    ></ion-input>
  </ion-item>
  <ion-item margin>
    <ion-label position="floating">Certificate Type</ion-label>
    <ion-select
      name="select__name"
      interface="actionSheet"
      [interfaceOptions]=""
      value=""
      cancelText="Cancel"
      placeholder="Choose Certificate Type"
    >
      <ion-select-option value="type1">type1</ion-select-option>
      <ion-select-option>type 2</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item margin>
    <!--
      TODO: Apply primary color for all ion-inputs (check styling & theming)
      TODO: Revisit after Angular Forms Review : rem: use Reactive Forms APIS for validation (Ionic member)
    -->
    <ion-label color="primary" position="floating">Certificate Date</ion-label>
    <ion-datetime></ion-datetime>
    <ion-icon color="primary" name="calendar" slot="end"></ion-icon>
  </ion-item>
</ion-list>

<ion-list>
  <ion-list-header>
    <ion-label>Request Attachments</ion-label>
  </ion-list-header>
  <ion-item margin>
    <ion-label position="stacked">Certificate Copy</ion-label>
    <ion-input
      type="file"
      accept="image/jpeg,image/png,image/svg+xml,application/pdf"
      required
      clearInput
    ></ion-input>
  </ion-item>
  <ion-item margin>
    <ion-label position="stacked">Profile ID Copy</ion-label>
    <ion-input
      type="file"
      accept="image/jpeg,image/png,image/svg+xml,application/pdf"
      required
      clearInput
    ></ion-input>
  </ion-item>
  <ion-item margin>
    <ion-label position="stacked">Others</ion-label>
    <ion-input
      name="name"
      type="file"
      accept="image/jpeg,image/png,image/svg+xml,application/pdf"
      multiple
      required
      clearInput
    ></ion-input>
  </ion-item>
</ion-list>
