ion-item {
  // --background-activated: white;
  // --border-color: red;
  // --border-style: ;
  // --border-width: 1px;
  --box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  // --detail-icon-color: ;
  // --detail-icon-font-size: ;
  // --detail-icon-opacity: ;
  // --highlight-color-focused: ;
  // --highlight-color-invalid: ;
  // --highlight-color-valid: ;
  // --highlight-height: ;
  // --inner-border-width: ;
  // --inner-box-shadow: ;
  // --inner-padding-top: ;
  // --inner-padding-bottom: 10px;
  // --inner-padding-start: ;
  // --inner-padding-end: ;
  // --min-height: 10px;
  // --padding-top: 20px;
  // --padding-bottom: 20px;
  // --padding-start: 20px;
  // --padding-end: 50px;
  // --ripple-color: yellow ;
  // --transition: ;
}
