// @import '~@angular/material/theming';

// @import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900');
:root {
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
