// TODO: repeated in contact
ion-item {
  position: relative;
  --background: var(--ion-color-primary-contrast);
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); // TODO: repeated in homepage
  --detail-icon-color: var(--ion-color-primary-tint);
  --detail-icon-font-size: 23px;
  --detail-icon-opacity: 1;
  --inner-padding-start: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

ion-icon {
  border-radius: 50%;
}

// // text trimmed from bottom
// // the left div
// // box shadow from top
