<lib-header [title]="'set by routing'"></lib-header>
<ion-content>
    <ion-list lines="none">
        <ion-item
          class="vl-gradient"
          margin-vertical
          *ngFor="let eservice of eservices"
          [routerLink]="eservice.route"
          detail
          detailIcon="ios-arrow-forward"
        >
          <ion-label color="primary">{{ eservice.name }}</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
