// TODO: repeated in eservices
ion-item {
  --background: var(--ion-color-primary-contrast);
  // TODO: repeated in homepage,
  // FIXME: issue from top
  --box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

ion-toolbar > div > ion-icon {
  color: var(--ion-color-primary-contrast);
  font-size: 25px;
}
