<lib-header [title]="'set by routing'"></lib-header>

<img src="https://i.ibb.co/Bw5MHR3/Screenshot-2019-04-24-at-13-27-46.png" />

<ion-content padding>
  <ion-list lines="none">
    <ion-item
      no-padding
      margin-bottom
      class="vl-gradient"
      *ngFor="let item of items"
    >
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-icon size="small" [name]="item.icon"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label> {{ item.name }} </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text> {{ item.description }} </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

  <ion-footer class="hz-gradient">
    <ion-toolbar padding-horizontal>
      <div>
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
        <ion-icon name="logo-youtube"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
      </div>
    </ion-toolbar>
  </ion-footer>
</ion-content>
