ion-slides {
  --bullet-background: var(--ion-color-primary);
  --bullet-background-active: var(--ion-color-secondary);
}



ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--ion-color-primary-contrast);
  margin-bottom: 16px;
  width: 50%;
  height: 50%;
}

ion-col ion-label,
ion-col ion-icon {

}

ion-item {
--background: var(--ion-color-primary-contrast);
--box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.1);
// --min-height: ;
// --padding-bottom: ;
// --padding-end: ;
// --padding-start: ;
// --padding-top: ;
// --transition: ;

}
