<lib-header [title]="'set by routing'"></lib-header>

<ion-content padding>
  <ion-row margin-bottom>
    <ion-slides pager="true">
      <ion-slide>
        <ion-item lines="none" margin-bottom class="item-marker">
          <ion-thumbnail>
            <img
              src="https://seeklogo.com/images/N/nodejs-logo-FBE122E377-seeklogo.com.png"
            />
          </ion-thumbnail>
          <ion-label> this is a text </ion-label>
          <p>this is a paragraph</p>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row margin-vertical>
    <ion-col margin-end>
      <ion-label>About Autority</ion-label>
      <ion-icon size="large" name="book"></ion-icon>
    </ion-col>

    <ion-col margin-start>
      <ion-label [routerLink]="['/eservices']">Services</ion-label>
      <ion-icon size="large" name="help"></ion-icon>
    </ion-col>
  </ion-row>

  <ion-row margin-vertical>
    <ion-col margin-end>
      <ion-label [routerLink]="['/contact']">Contact Us</ion-label>
      <ion-icon size="large" name="call"></ion-icon>
    </ion-col>

    <ion-col margin-start>
      <ion-label>Links</ion-label>
      <ion-icon size="large" name="link"></ion-icon>
    </ion-col>
  </ion-row>
</ion-content>
