<ion-list>
  <ion-list-header> <ion-label>Deceased Details</ion-label> </ion-list-header>
  <ion-item>
    <ion-label position="floating">QID</ion-label>
    <ion-input
      autofocus
      type="number"
      name="qid"
      min="0"
      minlength="11"
      maxlength="11"
      pattern="\\d{11}"
      title="The QID must be 11 numbers length"
      required
      clearInput
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input
      name="name"
      pattern="^[a-zA-Z ]*$"
      required
      clearInput
      spellcheck
    ></ion-input>
  </ion-item>

  <!-- TODO: this item is used multiple times, separate it -->
  <!--
    TODO: use separated components due to platform (action-sheet, popover), you may look at the controllers
  -->
  <ion-item>
    <ion-label position="floating">Certificate Type</ion-label>
    <ion-select
      name="type"
      interface="popover"
      [interfaceOptions]="{
        header: 'Certificate Type'
      }"
      cancelText="Cancel"
      placeholder="Select Type"
    >
      <ion-select-option value="0">0</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Certificate No.</ion-label>
    <ion-input
      type="number"
      name="number"
      min="0"
      pattern="^[0-9]*$"
      required
      clearInput
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Certificate Issue Date</ion-label>
    <ion-datetime name="date" placeholder="Select Date"></ion-datetime>
    <ion-icon name="calendar" slot="end"></ion-icon>
  </ion-item>

  <!--
    TODO: this item is used multiple times, separate it
    TODO: use separated components due to platform (action-sheet, popover), you may look at the controllers
  -->
  <ion-item>
    <ion-label position="floating">Delivery Location</ion-label>
    <ion-select
      name="location"
      interface="action-sheet"
      [interfaceOptions]="{
        header: 'Delivery Location'
      }"
      cancelText="Cancel"
      placeholder="Select Authority Location"
    >
      <ion-select-option value="0">0</ion-select-option>
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list lines="none">
  <ion-list-header>
    <ion-label>Request Attachments</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label position="fixed">Certificate Copy</ion-label>
    <ion-input
      type="file"
      name="certificate"
      accept="image/jpeg,image/png,image/svg+xml,application/pdf"
      required
    >
    </ion-input>
    <ion-button fill="clear" slot="end">
      <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Other</ion-label>
    <ion-input
      type="file"
      name="other"
      accept="image/jpeg,image/png,image/svg+xml,application/pdf"
      required
    >
    </ion-input>
    <ion-button fill="clear" slot="end">
      <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label position="fixed">Others</ion-label>
    <ion-input
      type="file"
      name="others"
      multiple
      accept="image/jpeg,image/png,image/svg+xml,application/pdf"
      required
    >
    </ion-input>
    <ion-button fill="clear" slot="end">
      <ion-icon color="danger" name="trash" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-button fill="clear">
    More
    <ion-icon name="add" slot="icon-only"></ion-icon>
  </ion-button>
</ion-list>
