ion-avatar {
  //   --border-radius: ;
}

ion-toolbar {
  // display: flex;
  // flex-direction: column;
  // --background: red;
  // --border-width: -1px;
  // --border-color: yellow;
  // --color: ;
  // --min-height: 5vh;
  // --opacity: ;
  // --padding-start: ;
  // --padding-end: ;
  // --padding-top: ;
  // --padding-bottom: 10px;
}
ion-title {
  // position: relative;
}


ion-back-button {
  //   --icon-font-size: ;
  //   --icon-font-weight: ;
  //   --icon-margin-bottom: ;
  //   --icon-margin-end: ;
  //   --icon-margin-start: ;
  //   --icon-margin-top: ;
  //   --icon-padding-bottom: ;
  //   --icon-padding-end: ;
  //   --icon-padding-start: ;
  //   --icon-padding-top: ;
  //   --margin-bottom: ;
  //   --margin-end: ;
  //   --margin-start: ;
  //   --margin-top: ;
  //   --min-height: ;
  //   --min-width: ;
  //   --padding-bottom: ;
  //   --padding-end: ;
  //   --padding-start: ;
  //   --padding-top: ;
  //   --ripple-color: ;
  //   --transition: ;
}

ion-title {
  text-align: left;
  align-self: flex-start;
}

ion-thumbnail {
  // --size: ;
}

ion-badge {
  // --padding-start: ;
  // --padding-end: ;
  // --padding-top: ;
  // --padding-bottom: ;
}
