<ion-header>
  <ion-toolbar>
    <ion-img class="logo" src="assets/imgs/logo.png"></ion-img>
  </ion-toolbar>
</ion-header>
<!-- TODO: make the right, left transparent -->
<div class="circle gradient">
  <ion-icon slot="icon-only" name="login" color="light"></ion-icon>
</div>
<ion-content padding>
  <form [formGroup]="LoginForm">
    <ion-grid>
      <ion-row justify-content-center margin-bottom>
        <ion-anchor class="title" type="unbounded">
          <ion-ripple-effect></ion-ripple-effect>
          Log on with an authentication account
        </ion-anchor>
      </ion-row>

      <ion-row align-items-center>
        <ion-col size="auto">
          <ion-icon size="large" name="username"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-icon *ngIf="true" name="arrow-forward"> </ion-icon>
        </ion-col>
        <ion-col margin-vertical margin-end>
          <ion-input
            padding-horizontal
            formControlName="username"
            placeholder="Username"
            autofocus
            autocomplete
            spellcheck
            clearInput
            (ionFocus)="onFocus($event)"
            [ngClass]="{
              'is-invalid': message
            }"
          ></ion-input>
          <span class="invalid-feedback" *ngIf="message">
            <ion-text color="danger"> {{ message }} </ion-text>
          </span>
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col size="auto">
          <ion-icon size="large" name="password"></ion-icon>
        </ion-col>
        <ion-col size="auto">
          <ion-icon *ngIf="true" name="arrow-forward"></ion-icon>
        </ion-col>
        <ion-col margin-vertical margin-end>
          <ion-input
            type="password"
            padding-horizontal
            formControlName="password"
            placeholder="Password"
            clearInput
            [ngClass]="{
              'is-invalid':
                (LoginForm.get('password').touched ||
                  LoginForm.get('password').dirty) &&
                LoginForm.get('password').invalid
            }"
          ></ion-input>
          <span
            class="invalid-feedback"
            *ngIf="
              (LoginForm.get('password').touched ||
                LoginForm.get('password').dirty) &&
              LoginForm.get('password').invalid
            "
          >
            <ion-text
              color="danger"
              *ngIf="!!LoginForm.get('password').errors?.required"
            >
              Please enter your password
            </ion-text>
            <ion-text
              color="danger"
              *ngIf="!!LoginForm.get('password').errors?.minlength"
            >
              The password must have at minimum 8 characters
            </ion-text>
          </span>
        </ion-col>
      </ion-row>

      <ion-row justify-content-end margin-horizontal margin-bottom>
        <ion-anchor> Forgot password? - Reset account</ion-anchor>
      </ion-row>
      <ion-row justify-content-evenly>
        <ion-col size="5" margin-vertical>
          <ion-button
            [disabled]="!LoginForm.valid"
            margin-vertical
            size="small"
            expand="block"
            type="submit"
            >Login</ion-button
          >
        </ion-col>
        <ion-col size="5" margin-vertical>
          <ion-button margin-vertical size="small" expand="block" fill="outline"
            >New User</ion-button
          >
        </ion-col>
      </ion-row>

      <ion-row justify-content-center>
        <ion-col size="3">
          <ion-text> <small> Powered By </small> </ion-text>
        </ion-col>
        <ion-col size="3" align-self-end>
          <ion-img src="assets/imgs/powered.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <div>
    <br />pristine: {{ LoginForm.pristine }} <br />dirty: {{ LoginForm.dirty }}
    <br />touched: {{ LoginForm.touched }} <br />valid: {{ LoginForm.valid }}
    <br />{{ LoginForm.value | json }}
  </div>
  <!-- <ion-loading></ion-loading> -->
</ion-content>
