ion-toolbar {
  --min-height: 35vh;
  --background: url('assets/imgs/login_header.jpg');
}

.logo {
  width: 75%;
  margin: 0 auto;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 120px;
  height: 120px;
  border: 10px solid var(--ion-color-primary-contrast);
  border-radius: 50%;
  margin: 0 auto;
  margin-top: -60px;
  z-index: 10;
}

.gradient {
  background: #7478a7;
  background: -moz-linear-gradient(top, #7478a7 0%, #113e77 100%);
  background: -webkit-linear-gradient(top, #7478a7 0%, #113e77 100%);
  background: linear-gradient(to bottom, #7478a7 0%, #113e77 100%);
}

.circle ion-icon {
  font-size: 45px;
}

.title {
  font-size: 17px;
  font-weight: var(--font-weight-semibold);
}

ion-input {
  --background: var(--ion-color-primary-contrast);
  --color: var(--ion-color-primary);
}
