
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: var(--font-weight-extralight);
  src: import('../assets/fonts/cairo/Cairo-ExtraLight.ttf');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: var(--font-weight-light);
  src: import('../assets/fonts/cairo/Cairo-Light.ttf');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: var(--font-weight-regular);
  src: import('../assets/fonts/cairo/Cairo-Regular.ttf');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  src: import('../assets/fonts/cairo/Cairo-SemiBold.ttf');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: var(--font-weight-bold);
  src: import('../assets/fonts/cairo/Cairo-Bold.ttf');
}

@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: var(--font-weight-black);
  src: import('../assets/fonts/cairo/Cairo-Black.ttf');
}
